{{!callback function}}

#include <stdio.h>
#include <string.h>
#include <stdlib.h>
#include <random.h>

#include "shell.h"
#include "msg.h"
#include "net/emcute.h"
#include "net/ipv6/addr.h"

{{#operations}}{{#operation}}{{isGet}}
static void {{operationId}}_onPub(const emcute_topic_t *topic, void *data, size_t len)
{
    char *in = (char *)data;

    printf("### got publication for topic '%s' [%i] ###\n",
           {{topic}}->name, (int){{topic}}->id);
    for (size_t i = 0; i < len; i++) {
        printf("%c", in[i]);
    }
    puts("");
}
{{/isGet}}{{/operation}}{{/operations}}
